.col-info-1 {
    position: absolute;
    bottom: 0;
    left: 0%;
    z-index: 2;
    img {
        width: 100%;
    }
}
.col-info-2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    img {
        width: 100%;
    }
}
.col-info-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    img {
        width: 100%;
    }
}
.col-info-4 {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 3;
    img {
        width: 100%;
    }
}
.col-info-5 {
    position: absolute;
    bottom: 0;
    right: 0%;
    z-index: 1;
    img {
        width: 100%;
    }
}
.col-info-6,
.col-info-7,
.col-info-8,
.col-info-9 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; /* กำหนดขนาดที่ต้องการ */
    height: 400px; /* กำหนดขนาดที่ต้องการ */
    border: 1px solid #ccc; /* ใช้ border ช่วยในการมองเห็นพื้นที่ */
    z-index: 6;
}

.col-info-6 {
    top: 10%;
    left: 10%;
}

.col-info-7 {
    top: 10%;
    right: 10%;
}

.col-info-8 {
    bottom: 10%;
    left: 10%;
}

.col-info-9 {
    bottom: 10%;
    right: 10%;
}

.col-img {
    position: relative;
    width: 100%;
    height: 100%; /* ให้ภาพครอบคลุมพื้นที่ทั้งหมด */
    background-size: cover; /* ให้ภาพขยายเต็มกรอบ */
    background-position: center; /* จัดภาพให้อยู่กลาง */
    background-repeat: no-repeat;
    z-index: 4;
}

.col-info-6 .col-img {
    background-image: url("/img/icon/icon-info/top-left.png");
}

.col-info-7 .col-img {
    background-image: url("/img/icon/icon-info/top-right.png");
}

.col-info-8 .col-img {
    background-image: url("/img/icon/icon-info/bottom-left.png");
}

.col-info-9 .col-img {
    background-image: url("/img/icon/icon-info/bottom-right.png");
}

.col-text-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* จัดข้อความให้อยู่กลาง */
    color: #000000; /* สีข้อความ */
    font-size: 80px; /* ขนาดฟอนต์ */
    text-align: center;
    z-index: 2; /* ให้ข้อความอยู่เหนือภาพ */
}
